<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="username" value=""/>
    <add key="password" value=""/>
    <add key="gameNumber" value="5274373517737984"/>
    <add key="refreshSeconds" value="120"/>
    <add key="downloadDirectory" value="States"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>